.browser-popup-overlay {
  position: absolute;
    top: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* DEFAULT */
.browser-popup {
  width: 300px;
  background: #c0c0c0;
  border: 2px outset #fff;
  font-size: 12px;
}

.popup-title {
  background: #000080;
  height: var(--titlebar-height);
  color: white;
  padding: 2px 4px;
  display: flex;
  justify-content: space-between;
}

.popup-title button {
  width: 18px;
  height: 18px;
  border: 2px solid;
  border-color: #ffffff #404040 #404040 #ffffff;
  background: #c0c0c0;
  font-size: 10px;
  cursor: pointer;
  color: black;
  align-items: center;
  justify-content: center;
  padding: 0;
  line-height: 1px;
}

.popup-content {
  padding: 10px;
  margin:5px;
}

.popup-content h4 {
  margin: 0;
}

.popup-content p {
  margin: 0;
}

.popup-actions {
  padding: 6px;
  text-align: right;
}

/* SETTINGS */

.popup-content.settings {
  background: #c0c0c0;
}

.popup-content.histroy {
  font-family: Tahoma, sans-serif;
  font-size: 12px;
}