.browser-toolbar {
  position:absolute;
  width: 100%;
  white-space: nowrap;
  justify-content: center;
  background: #c0c0c0;
  font-family: "MS Sans Serif", Tahoma, sans-serif;
  font-size: 12px;
  border-bottom: 2px solid;
  border-color: #ffffff #404040 #404040 #ffffff;
  color: var(--text-color);

}

/* MENU BAR */
.browser-menubar {
  display: flex;
  gap: 3px;
  padding: 3px 6px;
  background: #c0c0c0;
}

.browser-button {
  height: 23px;
  min-width: 30px;
  align-items: center;
  display: flex;
  background: none;

  color: var(--text-color);
  border-bottom: 2px solid var(--window-border-dark);
  border-right: 2px solid var(--window-border-dark);
  border-top: 2px solid var(--window-bg);
  border-left: 2px solid var(--window-bg);

  
}

.browser-button:active {
  border-top: 2px solid var(--window-border-dark);
  border-left: 2px solid var(--window-border-dark);
  border-bottom: 2px solid var(--window-border-light);
  border-right: 2px solid var(--window-border-light);

}

.browser-address {
  display: flex;
  align-items: center;
  gap: 6px;

  border-bottom: 2px solid var(--window-border-dark);
  border-right: 2px solid var(--window-border-dark);
  border-top: 2px solid var(--window-bg);
  border-left: 2px solid var(--window-bg);
}

.browser-address input {
  height: 20px;
  width: 500px;
  font-size: 10px;
}

/* BUTTON BAR */
.browser-buttons {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 4px;
  color: var(--text-color)
}

.browser-buttons button {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 26px;
  padding: 0 6px;
  background: #c0c0c0;
  border: 2px solid;
  border-color: #ffffff #404040 #404040 #ffffff;
  font-size: 11px;
  cursor: pointer;
  color: var(--text-color)
}

.browser-buttons button:active {
  border-color: #404040 #ffffff #ffffff #404040;
}

.browser-buttons svg {
  font-size: 14px;
}

.browser-separator {
  width: 2px;
  height: 22px;
  background: #808080;
  margin: 0 4px;
}

