/* SUBMENU */
.submenu {
  position: absolute;
  top: 0;
  left: 100%;
  width: 180px;
  background: #c0c0c0;
  border: 2px solid;
  border-color: #ffffff #404040 #404040 #ffffff;
  z-index: 10000;
  color: black;
}

.submenu-programs {
  top: 0px
}

.submenu-documents {
  top: 50px
}

.submenu-settings {
  top: 100px
}

.submenu ul {
  list-style: none;
  margin: 0;
  padding: 4px;
}

.submenu li {
  padding: 4px 6px;
  cursor: default;
  left: 100%;
}

.submenu li:hover {
  background: #000080;
  color: white;
}

.menu-item {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  padding: 4px 6px;
}

.menu-icon {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-label {
  line-height: 1;
  padding-top: 2px;
  font-size: 20px;
}
