/* RESET POD OS */
* {
  box-sizing: border-box;
}

/* CAŁY EKRAN (MONITOR) */
.screen {
  position: fixed;
  inset: 0;
  background: var(--desktop-bg);
  overflow: hidden;
}

/* WARSTWA SKALOWANIA */
.desktop-scale {
  position: absolute;
  inset: 0;
}

/* OBSZAR ROBOCZY (ROZDZIELCZOŚĆ) */
.desktop {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--taskbar-height));
  background: var(--desktop-bg);
  overflow: hidden;
}

/* LOGO NA PULPICIE */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.desktop-logo {
  position: absolute;
  inset: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.desktop-logo img {
  width: 200px;
  height: 200px;
  animation: logo-spin 20s linear infinite;
}

.desktop-logo h1 {
  margin-top: 40px;
  font-size: 45px;
  color: white;
  font-family: Arial, sans-serif;
}
