.window {
  position: absolute;
  top: 80px;
  left: 120px;
  width: 360px;
  background: #c0c0c0;
  border: 2px solid;
  border-color: #ffffff #404040 #404040 #ffffff;
  font-family: "MS Sans Serif", Tahoma, sans-serif;
  box-sizing: border-box;
}

.window.active {
  box-shadow: 0 0 0 1px #000080 inset;
}

/* TITLE BAR */
.titlebar {
  height: 22px;
  background: #808080;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
}

.window.active .titlebar {
  background: #000080;
}

.title {
  font-size: 12px;
}

/* CONTENT */
.window-controls button {
  width: 18px;
  height: 18px;
  border: 2px solid;
  border-color: #ffffff #404040 #404040 #ffffff;
  background: #c0c0c0;
  font-size: 10px;
  cursor: pointer;
  color: black;
  align-items: center;
  justify-content: center;
  padding: 0;
  line-height: 1px;
}

.window-controls button:active {
  border-color: #404040 #ffffff #ffffff #404040;
}

/* RESIZE WINDOW */
.resize-handle {
  position: absolute;
  right: 1px;
  bottom: 1px;
  width: 14px;
  height: 14px;
  cursor: nwse-resize;
  background:
    linear-gradient(135deg,
      transparent 50%,
      #808080 50%
    );
}